/.DS_Store
/.idea
/~$NMF_Topic_Analysis.xlsx
/~$Second_method_lemmas_NMF_Results_.xlsx
/~$Second_method_words_NMF_Results_.xlsx
/~$first_method_lemma_bm25_lemm_json_dict.xlsx
/~$third_lemmas_term_information_gain_clusters.xlsx
/~$third_method_words_term_information_gain_clusters.xlsx